<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="task1Time" value="5"/>
    <add key="task2Time" value="10"/>
    
    <add key ="isAuto" value="0"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>